
.bg-alt-1 {
  background-color: #ffc890;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600 !important;
}

.bg-alt-2 {
  background-color: #ff9900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600 !important;
}
